{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    <h2>{% trans 'Bodystamp' %}</h2>

    <div class="row">
        <div class="m-5 col" id="canvas_image_container" style="position:relative;">

            <img id='bodymap_image' src="{% static 'core/bodymap_big.jpg' %}" width="326" height="400"
                 style="position:absolute;z-index:1;">
            <canvas id='bodystamp_canvas' width='326' height='400' style="position:relative;z-index:20;"></canvas>

        </div>
    </div>

    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">{% trans 'Save' %} </button>

        <a href="{{ view.get_success_url }}" class="btn btn-primary">{% trans 'Cancel' %}</a>

    </form>
    <button class="btn btn-secondary border" onclick="flushCoordinates();">{% trans 'Reset' %}</button>

{% endblock %}

{% block custom_script %}
    <script src="{% static 'core/jquery-2.2.4.min.js' %}"></script>

    <script>
        {% include 'core/snippets/edit_bodystamp.js' %}
    </script>
{% endblock %}