{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}

            <form method="post" autocomplete="off" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary">{% trans 'Send' %} </button>
            </form>
    <hr>
    <a href="{% url 'case-detail' request.resolver_match.kwargs.pk %}">Back to case details</a>
{% endblock %}