{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}

    <form method="post">{% csrf_token %}
        {{ form|crispy }}
        <p>Are you sure you want to publish this case?</p>
        <button type="submit" class="btn btn-primary">{% trans 'Confirm' %} </button>
        <a href="{% url 'case-detail' request.resolver_match.kwargs.pk %}" class="btn btn-primary">{% trans 'Cancel' %}</a>

    </form>
{% endblock %}