{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <h1>Dashboard</h1>
    <ul>
    {% if user.is_general_practicioner %}
        <li><a href="{% url 'create-case' %}">{% trans 'Create a new case' %}</a><br></li>
    {% endif %}
    <li><a href="{% url 'case-list' %}">{% trans 'Go to case list' %}</a><br></li>
    </ul>
{% endblock %}