{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}

    <form method="post">{% csrf_token %}
        <p>Are you sure you want to delete "{{ object }}"?</p>
        <button type="submit" class="btn btn-primary">{% trans 'Confirm' %} </button>
        <a href="{{ view.get_success_url }}" class="btn btn-primary">{% trans 'Cancel' %}</a>
    </form>
{% endblock %}