{% extends 'base.html' %}
{% load i18n %}

{% block custom_css %}
    <style>
        .table-hover > tbody > tr:hover {
            background-color: #cce5ff;
        }

        #caseIdOverflow {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            width: 10ch;
            display: inline-block;
        }

    </style>
{% endblock %}
{% block content %}
    <h1>{% trans 'My Cases' %}</h1>


    <table class="table table-bordered table-hover table-sm table-striped">
        <thead>
        <tr>
            <th>{% trans 'Case ID' %}</th>
            <th>{% trans 'Registered at' %}</th>
            <th>
                {% if request.user.is_dermatologist %}
                    {% trans 'Requested by' %}
                {% else %}
                    {% trans 'Examiner' %}
                {% endif %}
            </th>
            <th colspan="2">{% trans 'Last update' %}</th>
            <th>{% trans 'Case status' %}</th>
        </tr>
        </thead>
        <tbody>
        {% for dermaconsultcase in page_obj %}
            {% with dermaconsultcase as case %}
                <tr onclick="window.location='{% url 'case-detail' case.id %}';" style="cursor: pointer;">

                    <td><span id="caseIdOverflow" data-toggle="tooltip"
                              title="{{ case.id }}" class="text-monospace text-uppercase">#{{ case.id }}</span></td>
                    <td>{{ case.created_at|date:"d.m.Y, H:i" }}</td>
                    <td>
                        {% if request.user.is_dermatologist %}
                            {% if case.requester.medical_title|length > 0 %}
                                {{ case.requester.medical_title }} {% endif %}{{ case.requester.first_name }}
                            {{ case.requester.last_name }}
                        {% else %}
                            {% if case.examiner %}
                                {% if case.examiner.medical_title|length > 0 %}
                                    {{ case.examiner.medical_title }} {% endif %}{{ case.examiner.first_name }}
                                {{ case.examiner.last_name }}
                            {% else %}
                                {% trans 'No examiner assigned yet' %}
                            {% endif %}
                        {% endif %}
                    </td>
                    <td>{{ case.get_last_event.timestamp|date:"d.m.Y, H:i" }}</td>
                    <td>{{ case.get_last_event.get_description_display }}</td>
                    <td><b>{{ case.get_status_display }}</b></td>

                </tr>
            {% endwith %}
        {% endfor %}
        </tbody>
    </table>

    {% if is_paginated %}
        <nav  aria-label="pagination nav" class="d-flex justify-content-left">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link"
                                             href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                {% else %}
                    <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
                {% endif %}
                {% for i in paginator.page_range %}
                    {% if page_obj.number == i %}
                        <li class="page-item active"><span class="page-link">{{ i }} <span
                                class="sr-only">(current)</span></span></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a>
                    </li>
                {% else %}
                    <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}

{% endblock %}