{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block custom_css %}
    {% if object.get_images %}
        <style>
            {% include 'core/snippets/modal_image.css' %}
        </style>
    {% endif %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnify/2.3.2/css/magnify.css"
          integrity="sha512-JxBFHHd+xyHl++SdVJYCCgxGPJKCTTaqndOl/n12qI73hgj7PuGuYDUcCgtdSHTeXSHCtW4us4Qmv+xwPqKVjQ=="
          crossorigin="anonymous"/>

{% endblock %}

{% block pre_script %}

{% endblock %}

{% block content %}
    <div class="container">

        <div class="row">
            <div class="col-sm-9 border-right">
                <h2>{% trans 'Case' %} <span class="text-monospace text-uppercase">#{{ object.id }}</span></h2>
                {% with object as case %}
                    {% include 'core/snippets/status_progressbar.html' %}
                {% endwith %}
                <hr>
                {% include 'core/snippets/case_images.html' %}
                <hr>

                <div class="row">

                    {% with object as case %}
                        {% include 'core/snippets/anamnesis_detail.html' %}
                    {% endwith %}
                </div>
                {% if object.status == object.CaseStatus.IN_REVIEW or object.status == object.CaseStatus.REVIEWED %}
                    <hr>
                    <div class="row">


                        {% with object as case %}
                            {% include 'core/snippets/review_detail.html' %}
                        {% endwith %}
                    </div>
                {% endif %}
            </div>
            <div class="col-sm-3">
                {% if request.user.is_general_practicioner %}
                    {% include 'core/snippets/qr_code.html' %}
                    <hr>
                {% endif %}

                {% include 'core/snippets/doctor_info.html' %}
                <hr>
                {% if object.status == object.CaseStatus.IN_REVIEW or object.status == object.CaseStatus.REVIEWED %}
                    {% include 'core/snippets/case_messages.html' %}
                    <hr>
                {% endif %}

                {% include 'core/snippets/case_events.html' %}

            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <hr>
                <div class="d-flex justify-content-between">
                    <!-- Control Buttons -->
                    <div>
                        {% if request.user.is_dermatologist %}
                            {% if object.status == object.CaseStatus.IN_REVIEW and not object.review_finding|length == 0 %}
                                <a href="{% url 'finish-case' object.id %}"
                                   class="btn btn-primary">{% trans 'Close Case' %}</a>

                            {% endif %}
                        {% endif %}
                        {% if object.status == object.CaseStatus.REGISTERED and request.user.is_general_practicioner %}
                            {% if not object.anamnesis_finding|length == 0 %}
                                {% if not object.anamnesis_specific_question|length == 0 %}
                                    <a href="{% url 'publish-case' object.id %}"
                                       class="btn btn-primary">{% trans 'Publish' %}</a>
                                {% endif %}
                            {% endif %}

                            <a href="{% url 'remove-case' object.id %}"
                               class="btn btn-warning">{% trans 'Delete Case' %}</a>
                        {% endif %}
                        {% if object.status == object.CaseStatus.REVIEWED %}
                            <a href="{% url 'generate-pdf' object.id %}" target="_blank"
                               class="btn btn-primary">{% trans 'Generate PDF Report' %}</a>
                        {% endif %}
                        <a href="{% url 'case-list' %}" class="btn btn-primary">{% trans 'Back to case list' %}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block custom_script %}
    {% if object.get_images %}
        <script>
            {% include 'core/snippets/modal_image.js' %}
        </script>

    {% endif %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnify/2.3.2/js/jquery.magnify.js"
            integrity="sha512-5dSf43DboTRZgAW1PxnAn8xa7IvrGZAgYEd+DhbNyONpBKN+6xv/7AiD8YC8TxZjqOmJ6UrmvCFHcFetV+8w+w=="
            crossorigin="anonymous"></script>

    <script>
        $(document).ready(function () {
            $('.zoom').magnify({

                magnifiedWidth: 816,
                magnifiedHeight: 1000,

            });
        });

    </script>
{% endblock %}