{% extends 'base.html' %}
{% load i18n %}

{% load crispy_forms_tags %}
{% block content %}

    <form method="post" autocomplete="off">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">{% trans 'Save' %} </button>
        <a href="{% url 'case-list' %}" class="btn btn-primary">{% trans 'Cancel' %}</a>

    </form>

{% endblock %}