<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

{% load i18n %}
{% block extra_style %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <style>
        .top-buffer {
            margin-top: 20px;
        }
    </style>
{% endblock %}
{% block content %}
    <div id="content" class="visible-print">
        <h2>{% trans 'OpenDermaConsult Report' %}</h2>
        <div class="row">
            <div class="col-5">
                <table class="table table-sm">
                    <tr>
                        <td>
                            <b>{% trans 'General Practicioner' %}:</b><br>

                            {% with object.requester as user %}
                                {% include 'core/snippets/user_info_generic.html' %}
                            {% endwith %}
                        </td>
                        <td>
                            <b>{% trans 'Dermatologist' %}:</b><br>

                            {% with object.examiner as user %}
                                {% include 'core/snippets/user_info_generic.html' %}
                            {% endwith %}
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-7">
                <table class="table table-sm table-bordered">
                    <tr>
                        <td>{% trans 'Case ID' %}:</td>
                        <td><strong><span class="text-monospace text-uppercase">{{ object.id }}</span></strong></td>
                    </tr>
                    <tr>
                        <td>{% trans 'Case registered at' %}:</td>
                        <td>{{ object.created_at }}</td>
                    </tr>
                    <tr>
                        <td>{% trans 'Case finalized at' %}:</td>
                        <td>{{ object.get_last_event.timestamp }}</td>
                    </tr>
                    <tr>
                        <td>{% trans 'Report generated at' %}:</td>
                        <td> {% now "DATETIME_FORMAT" %}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="container">
                <div style="float:right;">


                    <h3><u>{% trans 'Bodystamp' %}</u></h3>

                    <img src="{{ painted_bodymap_small }}" width="100%" alt="Bodystamp Image">

                </div>
                <div class="content">
                    <h3><u>{% trans 'Anamnesis' %}</u></h3>

                    {% with object as case %}
                        {% include 'core/snippets/anamnesis_detail.html' %}
                    {% endwith %}
                </div>

            </div>

        </div>
        <div class="row" style="page-break-after: always;">
            <div class="container">

                <h3><u>{% trans 'Finding' %}</u></h3>
                {% with object as case %}
                    {% include 'core/snippets/review_detail.html' %}
                {% endwith %}
            </div>
        </div>
        {% if object.get_images %}
            <div style="page-break-after: always;">
                <h3><u>{% trans 'Attachments' %}</u></h3>


                {% for image in object.get_images %}
                    <div class="row top-buffer">
                        <div class="col text-center">
                            <figure class="figure">
                                <img src="{{ image.as_base64 }}" class="figure-img img-fluid z-depth-1"
                                     style="height: 400px">
                                <figcaption class="figure-caption">{{ image.description }}</figcaption>
                            </figure>
                        </div>
                    </div>

                {% endfor %}

            </div>
        {% endif %}

    </div>
{% endblock %}