{% extends 'base.html' %}
{% load i18n %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <form method="post" autocomplete="new-password">{% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary">{% trans 'Update Password' %}</button>
        </form>
    </div>
{% endblock %}
