{% extends 'base.html' %}
{% load i18n %}
{% load qr_code %}


{% block content %}
    <h2>{% trans 'Auth Token Stuff' %} </h2>
    {% if object.auth_token %}
        <dt>{% trans 'Your current authentication token is' %}:</dt>
        <dd><span class="text-monospace">{{ object.auth_token }}</span></dd>
        <dt>{% trans 'You can scan your current authentication token via QR code' %}:</dt>
        <dd>{% qr_from_text object.auth_token size="5" image_format="png" error_correction="L" %}</dd>
        <dt>{% trans 'Generated at' %}:</dt>
        <dd>{{ object.auth_token.created }}</dd>

        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">{% trans 'Renew authentication token' %} </button>
        </form>
    {% else %}
        {% trans 'You have no authentication token yet, click the button below to generate one' %}.
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">{% trans 'Generate authentication token' %} </button>
        </form>
    {% endif %}
{% endblock %}