{% extends 'base.html' %}
{% load i18n %}


{% block content %}
    <h2>{% trans 'Welcome' %} </h2>
    <p>
        {% blocktrans %}
            If you already have an account, go ahead and go straight to your
        {% endblocktrans %}
        <a href="{% url 'dashboard' %}">{% trans 'dashboard' %}</a>.
    </p>
    <p>
        {% blocktrans %}
            If you are new to this system, get started by creating an
        {% endblocktrans %}
        <a href="{% url 'signup' %}">{% trans 'account' %}</a>.
    </p>
{% endblock %}