{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}



{% block content %}
    <div>

        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit">Login</button>

        </form>
    </div>
{% endblock %}
