{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    {% if user.is_authenticated %}
        <h4>{% trans 'User Settings' %}</h4>
        <a href="{% url 'user_update' user.id %}">{% trans 'Click here' %},</a>
        {% trans 'to view and change your user profile' %}.

        <h4>{% trans 'Change Password' %}</h4>
        <a href="{% url 'change-password' %}">{% trans 'Click here' %},</a> {% trans 'to change your password' %}.

        <h4>{% trans 'Change E-Mail' %}</h4>
        <a href="{% url 'change-email' user.id %}">{% trans 'Click here' %},</a>
        {% trans 'to change your email address' %}.

        {% if user.is_dermatologist %}
            <h4>{% trans 'Dermatologist settings' %}</h4>
            {% trans 'Your availability status is currently set to' %}
            <b>{{ user.dermatologist.is_currently_available }}</b>.
            <a href="{% url 'set_availability' user.dermatologist.user_id %}">{% trans 'Click here' %},</a>
            {% trans 'to change this setting' %}.<br>
        {% elif user.is_general_practicioner %}
            <h4>{% trans 'GP settings' %}</h4>
            {% if user.generalpracticioner.pseudo_service_url %}
                {% trans 'The URL of your local pseudonymization service is currently set to' %}
                <b>{{ user.generalpracticioner.pseudo_service_url }}</b>.
            {% else %}
                {% trans 'The URL of your local pseudonymization service is currently not set' %}.
            {% endif %}
            <a href="{% url 'set_pseudo_url' user.generalpracticioner.user_id %}">{% trans 'Click here' %},</a>
            {% trans 'to change this setting' %}.
            <h4>{% trans 'Security' %}</h4>
            <a href="{% url 'auth-token' user.id %}">{% trans 'Click here' %},</a> {% trans 'to change this setting' %}.

        {% else %}
            <h1>{% trans 'No user role assigned!' %}</h1>
        {% endif %}

    {% endif %}
{% endblock %}