{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <h2>{% trans 'Sign Up' %}</h2>
    <p>{% trans 'Select your role to proceed' %}</p>
    <ul>
        <li>
            <a href="{% url 'general_practicioner_signup' %}">{% trans "I'm a General Practicioner" %}</a>
        </li>
        <li>
            <a href="{% url 'dermatologist_signup' %}">{% trans "I'm a Dermatologist" %}</a>
        </li>
    </ul>
{% endblock %}