{% extends 'base.html' %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
    <div>
        <div>
            <h2>{% trans 'Sign up as' %} {{ user_type }}</h2>
            <form method="post" autocomplete="off">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary">{% trans 'Sign up' %} </button>
            </form>
        </div>
    </div>
{% endblock %}