{% load i18n %}
{% load static %}

<html>
<head>
    <title>OpenDermaConsult</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
          integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
          crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <style>
        {% include 'snippets/footer.css' %}
    </style>

    {% block custom_css %}
    {% endblock %}

    {% block pre_script %}
    {% endblock %}

</head>
<body>
{% block main-head %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light static-top">
        <div class="container">
            <a class="navbar-brand" href="{% url 'landing_page' %}">
                <img src="{% static 'core/logo-placeholder.png' %}">
            </a>
            <button class="navbar-toggler" type="button" data-toggleran="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                {% if request.user.is_authenticated %}

                    <span class="navbar-text">
                            <b>
                                {% trans 'Welcome back' %}, {{ request.user.username }}!
                            </b>
                        </span>
                {% endif %}
                <ul class="navbar-nav ml-auto">
                    {% if request.user.is_authenticated %}
                        <li class="nav-item">
                            <a class="btn btn-light mr-1 btn-sm" href="{% url 'dashboard' %}">{% trans 'Dashboard' %}
                            </a>
                        </li>
                        {% if request.user.is_general_practicioner %}
                            <li class="nav-item ">
                                <a class="btn btn-light mr-1 btn-sm"
                                   href="{% url 'create-case' %}">{% trans 'Create new case' %}
                                </a>
                            </li>
                        {% endif %}

                        <li class="nav-item">
                            <a class="btn btn-light mr-1 btn-sm" href="{% url 'case-list' %}">{% trans 'My Cases' %}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-light mr-1 btn-sm"
                               href="{% url 'member_page' %}">{% trans 'My Profile' %}</a>
                        </li>

                        <li class="nav-item">
                            <a class="btn btn-light mr-1 btn-sm" href="{% url 'logout' %}">{% trans 'Log Out' %}</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="btn btn-light mr-1 btn-sm" href="{% url 'landing_page' %}">{% trans 'Start' %}</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-light mr-1 btn-sm" href="{% url 'signup' %}">{% trans 'Sign Up' %}</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-light mr-1 btn-sm" href="{% url 'login' %}">{% trans 'Log In' %}</a>
                        </li>
                    {% endif %}

                </ul>

            </div>
        </div>
    </nav>
{% endblock %}


<div class="mb-4 mt-4 container">
    {% include 'announcements/announcements.html' %}
    {% include 'messages.html' %}
    {% block content %}
    {% endblock %}

</div>
<!-- <div class="footer"> <p>This is the footer.</p></div> -->

<!--
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
        integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
        crossorigin="anonymous"></script>
        -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js"
        integrity="sha512-WNLxfP/8cVYL9sj8Jnp6et0BkubLP31jhTG9vhL/F5uEZmg5wEzKoXp1kJslzPQWwPT1eyMiSxlKCgzHLOTOTQ=="
        crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
{% block custom_script %}
{% endblock %}
</body>
</html>