<div class="container">
    {% for announcement in server_announcements %}
        <div class="alert alert-danger" role="alert">

            <i class="fas fa-exclamation-triangle"></i>
            <b>
                {{ announcement.subject }}
            </b>
            <br>
            {{ announcement.message }}

        </div>
    {% endfor %}
</div>