{% load get_field_verbose_name %}
{% load i18n %}

<div class="container">
    <div style="float: right;">

        {% include 'core/snippets/existing_diagnoses.html' %}

        {% include 'core/snippets/bodystamp.html' %}
    </div>
    <div class="content">
        <div class="d-flex justify-content-between">
            <h4>{% trans 'Anamnesis' %}
                {% if request.user.is_general_practicioner and object.status != object.CaseStatus.REVIEWED %}
                    <a href="{% url 'edit-anamnesis' object.id %}"><i class="fa fa-edit"></i></a>
                {% endif %}
            </h4>

        </div>

        <dt>{% trans 'Patient' %}:</dt>
        <dd>{{ case.anamnesis_patient_age }}, {{ case.get_anamnesis_patient_sex_display }}</dd>
        {% if case.anamnesis_patient_occupation %}
            <dd>{{ case.anamnesis_patient_occupation }}</dd>
        {% endif %}

        <dt>{% get_field_verbose_name case 'anamnesis_finding' %}:</dt>
        <dd>{{ case.anamnesis_finding }}</dd>

        {% if case.anamnesis_localisation %}
            <dt>{% get_field_verbose_name case 'anamnesis_localisation' %}:</dt>
            <dd>{{ case.anamnesis_localisation }}</dd>
        {% endif %}

        {% if case.anamnesis_current_medication %}
            <dt>{% get_field_verbose_name case 'anamnesis_current_medication' %}:</dt>
            <dd>{{ case.anamnesis_current_medication }}</dd>
        {% endif %}

        {% if case.anamnesis_existing_diagnoses %}
            <dt>{% get_field_verbose_name case 'anamnesis_existing_diagnoses' %}:</dt>
            <dd>{{ case.anamnesis_existing_diagnoses }}</dd>
        {% endif %}

        {% if case.anamnesis_complaint_type %}
            <dt>{% get_field_verbose_name case 'anamnesis_complaint_type' %}:</dt>
            <dd>{{ case.anamnesis_complaint_type }}</dd>
        {% endif %}

        {% if case.anamnesis_complaint_duration %}
            <dt>{% get_field_verbose_name case 'anamnesis_complaint_duration' %}:</dt>
            <dd>{{ case.get_anamnesis_complaint_duration_display }}</dd>
        {% endif %}

        <dt>{% get_field_verbose_name case 'anamnesis_specific_question' %}:</dt>
        <dd>{{ case.anamnesis_specific_question }}</dd>

    </div>
</div>
