{% load i18n %}
{% load static %}

<div class="d-flex justify-content-between">

    <h4>{% trans 'Bodystamp' %}

        {% if request.user.is_general_practicioner and object.status != object.CaseStatus.REVIEWED %}
            <a href="{% url 'edit-bodystamp' object.id %}"><i class="fa fa-edit"></i></a>
        {% endif %}
    </h4>
</div>

<div class="img-magnifier-container">
    <!--<img id="bodystamp_image" src="{% static "core/bodymap_small.jpg" %}" width="100%" alt="Bodymap" class="zoom"
         data-magnify-src="{% static "core/bodymap_big.jpg" %}">-->
    <img id="bodystamp_image" src="{{ painted_bodymap_small }}" width="100%" alt="Bodymap" class="zoom"
         data-magnify-src="{{ painted_bodymap_small }}">
</div>