{% load i18n %}


<h5>{% trans 'Messages' %}
    {% if object.status == object.CaseStatus.IN_REVIEW %}
        <a href="{% url 'add-message' object.id %}"><i class="fa fa-plus-circle"></i></a>
    {% endif %}
</h5>

{% if object.get_messages %}
    {% for case_message in object.get_messages %}
        <small><b><u>{% if case_message.author.medical_title|length > 0 %}
            {{ case_message.author.medical_title }} {% endif %} {{ case_message.author.last_name }}, {{ case_message.timestamp|date:"d.m.Y, H:i" }}:</u></b></small>
        <br>
        <small> {{ case_message.message }}</small>
        <br>
    {% endfor %}
{% else %}
    <small> {% trans 'No messages yet' %} </small>
{% endif %}

