{% load i18n %}

<h5>{% trans 'Case History' %}</h5>
{% for event in object.get_events %}
    <span class="badge badge-light">{{ event.timestamp }}: {{ event.get_description_display }}</span>
    <br>
{% endfor %}