{% load i18n %}


<div class="d-flex justify-content-between">

    <h4>{% trans 'Diagnoses' %}
        {% if request.user.is_dermatologist and object.status != object.CaseStatus.REVIEWED %}
            <a href="{% url 'add-finding-diagnosis' object.id %}"><i class="fa fa-plus-circle"></i></a>
        {% endif %}
    </h4>


</div>

<table class="table table-sm table-bordered">

    {% for item in object.get_review_diagnoses %}
        <tr>
            <td>{{ item.diagnosis.code }}</td>
            <td>{{ item.diagnosis.description }}</td>
            {% if object.status != object.CaseStatus.REVIEWED %}

                {% if request.user.is_dermatologist %}
                    <td>
                        <a class="badge badge-warning" href="{% url 'delete-finding-diagnosis' item.id %}">
                            <i class="fa fa-trash"> </i>
                        </a>
                    </td>
                {% endif %}

            {% endif %}
        </tr>
    {% endfor %}
</table>