{% load i18n %}



    <h4>{% trans 'Attachments' %}

    {% if request.user.is_general_practicioner and object.status != object.CaseStatus.REVIEWED %}
        <a href="{% url 'add-image' object.id %}"><i
                class="fa fa-plus-circle"></i></a></h4>
    {% endif %}



{% if object.get_images %}
    <table class="table table-sm table-hover" >
        <thead>
        <tr>
            <th scope="col">{% trans 'Image ID' %}</th>
            <th scope="col">{% trans 'Timestamp' %}</th>
            <th scope="col">{% trans 'Description' %}</th>
            <th scope="col">{% trans 'Thumbnail' %}</th>
            {% if object.status != object.CaseStatus.REVIEWED %}
                {% if request.user.is_general_practicioner %}
                    <th scope="col"></th>
                {% endif %}
            {% endif %}

        </tr>
        </thead>
        <tbody>
        {% for image_object in object.get_images %}
            <tr>
                <th scope="row">{{ image_object.id }}</th>
                <td>{{ image_object.uploaded_at }}</td>
                <td>{{ image_object.description }}
                    {% if object.status != object.CaseStatus.REVIEWED %}
                        {% if request.user.is_general_practicioner %}
                            <a href="{% url 'edit-image' image_object.id %}"><i class="fa fa-edit"></i></a>
                        {% endif %}
                    {% endif %}
                </td>
                <td style="text-align: center;">
                    <img id="modalImage_{{ image_object.id }}" class="modalImage"
                         alt="{{ image_object.description }}" src="{{ image_object.as_base64 }}"
                         style="width:100px" onclick="openModal({{ image_object.id }});">
                </td>
                {% if object.status != object.CaseStatus.REVIEWED %}
                    <td>
                        {% if request.user.is_general_practicioner %}
                            <h5>
                                <a class="badge badge-warning" href="{% url 'delete-image' image_object.id %}">
                                    <i class="fa fa-trash"> </i>
                                </a>
                            </h5>
                        {% endif %}
                    </td>
                {% endif %}
            </tr>

        {% endfor %}

        </tbody>
    </table>
    <!-- The Modal -->
    <div id="myModal" class="modal">

        <!-- The Close Button -->
        <span class="close">&times;</span>

        <!-- Modal Content (The Image) -->
        <img class="modal-content" id="modal_image_content">

        <!-- Modal Caption (Image Text) -->
        <div id="caption"></div>
    </div>
{% else %}
    {% trans 'No attachments yet' %}
{% endif %}
