{% load i18n %}

<p><small>
    <b>{% trans 'General Practicioner' %}:</b><br>
    {% with object.requester as user %}
        {% include 'core/snippets/user_info_generic.html' %}
    {% endwith %}
</small></p>

{% if object.status == object.CaseStatus.IN_REVIEW or object.status == object.CaseStatus.REVIEWED %}

    <p><small>
        <b>{% trans 'Dermatologist' %}:</b><br>
        {% with object.examiner as user %}
            {% include 'core/snippets/user_info_generic.html' %}
        {% endwith %}
    </small></p>

{% endif %}

