{% load i18n %}


<div class="d-flex justify-content-between">

    <h4>{% trans 'Known Diagnoses' %}
        {% if request.user.is_general_practicioner and object.status != object.CaseStatus.REVIEWED %}
            <a href="{% url 'edit-bodystamp' object.id %}"><i class="fa fa-edit"></i></a>    {% endif %}</h4>


</div>

<ul>
    <li>TODO</li>
</ul>