{% load get_field_verbose_name %}
{% load i18n %}

<div class="container">
    <div style="float: right;">
        {% include 'core/snippets/case_diagnoses.html' %}
    </div>
    <div class="content">

        <div class="d-flex justify-content-between">
            <h4>{% trans 'Finding' %}
                {% if request.user.is_dermatologist and object.status == object.CaseStatus.IN_REVIEW %}
                    <a href="{% url 'edit-finding' object.id %}"><i class="fa fa-edit"></i></a>
                {% endif %}
            </h4>
        </div>

        <dt>{% get_field_verbose_name case 'review_finding' %}:</dt>
        <dd>
            {% if case.review_finding|length > 0 %}
                {{ case.review_finding }}
            {% else %}
                {% trans 'No finding available yet' %}
            {% endif %}
        </dd>

        {% if case.review_diagnosis %}
            <dt>{% get_field_verbose_name case 'review_diagnosis' %}:</dt>
            <dd>{{ case.review_diagnosis }}</dd>
        {% endif %}

        {% if case.review_expected_trend %}
            <dt>{% get_field_verbose_name case 'review_expected_trend' %}:</dt>
            <dd>{{ case.review_expected_trend }}</dd>
        {% endif %}

        {% if case.review_therapy_suggestion %}
            <dt>{% get_field_verbose_name case 'review_therapy_suggestion' %}:</dt>
            <dd>{{ case.review_therapy_suggestion }}</dd>
        {% endif %}

        {% if case.review_is_urgent %}
            <dt>{% get_field_verbose_name case 'review_is_urgent' %}:</dt>
            <dd>{{ case.get_review_is_urgent_display }}</dd>
        {% endif %}

        {% if case.review_dermatologist_visit_necessary %}
            <dt>{% get_field_verbose_name case 'review_dermatologist_visit_necessary' %}:</dt>
            <dd>{{ case.get_review_dermatologist_visit_necessary_display }}</dd>
        {% endif %}
    </div>
</div>



