<div class="progress" style="height: 20px;">
    {% if case.status == object.CaseStatus.REGISTERED %}
        <div class="progress-bar progress-bar-striped" style="width:25%">
    {% elif case.status == object.CaseStatus.PUBLISHED %}
        <div class="progress-bar progress-bar-striped" style="width:50%">
    {% elif case.status == object.CaseStatus.IN_REVIEW %}
        <div class="progress-bar progress-bar-striped" style="width:75%">
    {% elif case.status == object.CaseStatus.REVIEWED %}
        <div class="progress-bar progress-bar-striped" style="width:100%">
    {% endif %}
    <b>{{ case.get_status_display }}</b>
    </div>
    </div>