{% if user.medical_title|length > 0 %}
    {{ user.medical_title }} {% endif %}{{ user.first_name }} {{ user.last_name }}
<br>
{{ user.phone_number }}<br>
{{ user.address_streetname }} {{ user.address_house_number }}<br>
{{ user.address_zip_code }} {{ user.address_city }}<br>